# Binaries for programs and plugins
./outline-ss-server
./outline-ss-server.exe
./outline-ss-client
./outline-ss-client.exe
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# goreleaser temporary files.
/dist/

.vscode
config.yml
